<a href="https://colab.research.google.com/github/dhanifawzan/TA/blob/branccontohmain/cobarekomenlagi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

combined_movies_data=pd.read_csv('musikkukerasboss.csv', sep=r';')
combined_movies_data.head()

   index user_id menu_id  rating
0      1  U00002  L00010       4
1      2  U00002  L00011       3
2      3  U00002  L00012       5
3      4  U00002  L00013       4
4      5  U00002  L00014       5

In [2]:
combined_movies_data=combined_movies_data.drop('index',axis=1)

In [3]:
# my user_id is the 1001
my_ratings = pd.read_csv('yanginibosscape.csv')
my_ratings

  user_id;menu_id;rating
0         U0004;L00010;5
1         U0004;L00011;2
2         U0004;L00012;1
3         U0004;L00013;2
4         U0004;L00014;1

In [4]:
combined_movies_data = pd.concat([combined_movies_data, my_ratings], axis=0)

# rename the columns to userID, itemID and rating
combined_movies_data.columns = ['user_id', 'menu_id', 'rating','reviews']

# use the transform method group by userID and count to keep the movies with more than 25 reviews

combined_movies_data['reviews'] = combined_movies_data.groupby(['menu_id'])['rating'].transform('count')

combined_movies_data= combined_movies_data[combined_movies_data.reviews>10][['user_id', 'menu_id', 'rating']]

In [5]:

pip install scipy==1.0.0
pip install surprise

Collecting scipy==1.0.0
  Downloading scipy-1.0.0.tar.gz (15.2 MB)
     |████████████████████████████████| 15.2 MB 175 kB/s
Building wheels for collected packages: scipy
  Building wheel for scipy (setup.py) ... error
  ERROR: Failed building wheel for scipy
  Running setup.py clean for scipy
  ERROR: Failed cleaning build dir for scipy
Failed to build scipy
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
    Running setup.py install for scipy ... error
  Rolling back uninstall of scipy
  Moving to /usr/local/lib/python3.7/dist-packages/scipy-1.4.1.dist-info/
   from /usr/local/lib/python3.7/dist-packages/~cipy-1.4.1.dist-info
  Moving to /usr/local/lib/python3.7/dist-packages/scipy/
   from /usr/local/lib/python3.7/dist-packages/~cipy
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-h0ma1k2w/scipy_5fec738223094989ab03450da78db12d/setup.py'"'"'; __file__='"'"'/tmp/pip-install-h0ma1k2w/scipy_5fec738223094989ab03450da78db12d/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-u4jv5dm2/install-record.txt --single-version-externally-managed --compile --install-headers /usr/local/include/python3.7/scipy Check the logs for full command output.
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 21.8 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1617793 sha256=d9d72b2e24b8714e91add4ef1561c0d7e4094b84d4dde6bd194fbab17c1b9384
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [6]:
from surprise import NMF, SVD, SVDpp, KNNBasic, KNNWithMeans, KNNWithZScore, CoClustering
from surprise.model_selection import cross_validate
from surprise import Reader, Dataset

In [7]:
# A reader is still needed but only the rating_scale param is requiered.
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(combined_movies_data, reader)

In [15]:
# get the list of the movie ids
unique_ids = combined_movies_data['menu_id'].unique()

# get the list of the ids that the userid 1001 has rated
iids1001 = combined_movies_data.loc[combined_movies_data['user_id']=='U0004', 'menu_id']

# remove the rated movies for the recommendations
movies_to_predict = np.setdiff1d(unique_ids,iids1001)

In [16]:
algo = SVD()
algo.fit(data.build_full_trainset())

my_recs = []
for iid in movies_to_predict:
    my_recs.append((iid, algo.predict(uid='U0004',iid=iid).est))
    
pd.DataFrame(my_recs, columns=['iid', 'predictions']).sort_values('predictions', ascending=False).head(10)

        iid  predictions
106  L00116     3.451933
225  L00235     3.263547
162  L00172     3.262803
61   L00071     3.246709
35   L00045     3.221698
238  L00248     3.191297
229  L00239     3.169550
206  L00216     3.166520
77   L00087     3.132680
237  L00247     3.113998

In [17]:
cv = []
# Iterate over all recommender system algorithms
for recsys in [NMF(), SVD(), SVDpp(), KNNWithZScore(), CoClustering()]:
    # Perform cross validation
    tmp = cross_validate(recsys, data, measures=['RMSE'], cv=3, verbose=False)
    cv.append((str(recsys).split(' ')[0].split('.')[-1], tmp['test_rmse'].mean()))

pd.DataFrame(cv, columns=['RecSys', 'RMSE'])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

          RecSys      RMSE
0            NMF  2.031379
1            SVD  1.786165
2          SVDpp  1.861702
3  KNNWithZScore  1.781762
4   CoClustering  1.855325

In [18]:
pip install uvicorn

Collecting uvicorn
  Downloading uvicorn-0.14.0-py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 6.1 MB/s
Collecting asgiref>=3.3.4
  Downloading asgiref-3.4.1-py3-none-any.whl (25 kB)
Collecting h11>=0.8
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 3.7 MB/s
Requirement already satisfied: click>=7.* in /usr/local/lib/python3.7/dist-packages (from uvicorn) (7.1.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from uvicorn) (3.7.4.3)
Installing collected packages: h11, asgiref, uvicorn
Successfully installed asgiref-3.4.1 h11-0.12.0 uvicorn-0.14.0

In [19]:
pip install fastapi

Collecting fastapi
  Downloading fastapi-0.67.0-py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 393 kB/s
Collecting starlette==0.14.2
  Downloading starlette-0.14.2-py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 7.5 MB/s
Collecting pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2
  Downloading pydantic-1.8.2-cp37-cp37m-manylinux2014_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 42.7 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2->fastapi) (3.7.4.3)
Installing collected packages: starlette, pydantic, fastapi
Successfully installed fastapi-0.67.0 pydantic-1.8.2 starlette-0.14.2